<!doctype html>
<html lang="en">
<head>
    <title>DePElis</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="./img/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./styles/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"     integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <header id="header">
        <!-- place navbar here -->
    </header>
    <main>
        <div id="app" class="container">
            <h1>Todas la Peliculas</h1>
            <br>
           
            <div v-if="error">
                <p>Lo sentimos , ........</p>
            </div>
            <div v-else>
                <section v-if="cargando">
                    <div class="spinner-border"></div>
                    <p>Cargando .....</p>
                </section>
                <section v-else>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Calificacion</th>
                                    <th scope="col">Año</th>
                                    <th scope="col">Imagen</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr class=""  v-for="producto in productos">
                                    <td scope="row">{{producto.id}}</td>
                                    <td>{{producto.nombre}}</td>
                                    <td>{{producto.precio}}</td>
                                    <td>{{producto.stock}}</td>
                                    <td>
                                        <img width="60"  :src="producto.imagen" :alt="producto.nombre">
                                    </td>
                                  
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </main>
    <footer class="foot">
        <a href="https://twitter.com/" target="_blank">
            <img src="./img/twiter.png" alt="twiter" width="20px" height="20px">
        </a> 
        <a href="https://facebook.com/" target="_blank">
            <img src="./img/face.png" alt="facebook" width="20px" height="20px">
        </a> 
        <a href="https://youtube.com/" target="_blank">
            <img src="./img/you.png" alt="youtube" width="20px" height="20px">
        </a>
        <p>LAS MEJORES PELÍCULAS <b>&copy;DEPELIS.COM</b></p>
    </footer>
    <!--Link de Bootstrap-->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
    <script src="./js/main.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script><!--Link de VUE-->
    <script src="./js/pelis.js"></script>
    <script src="./js/sesionuser.js"></script>
</body>
</html>
