/* reseteo general */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    caret-color: transparent;
}

body{
    width: 100%;
    min-height: 100%;
    background-color: rgb(34, 34, 34);
	font-family: 'Open Sans', sans-serif;
}

/* INICIO DEL HEADER */
header{
    display: flex;
    align-items: center;
    background-color: #23252b;
    height: 70px;
    width: 100%;
    position: sticky;
    z-index: 1110;
    top: 0;
}
/* PRIMERA BARRA DE NAVEGACION */
header .nav1{
    display: flex;
    align-items: center;
    width: 50%;
}
header .nav1 .logo{
    color: rgb(2, 139, 202);
    font-size: 30px;
    margin-left: 120px;
    margin-right: 15px;
    text-decoration: none;
    transition: .7s;
}

header .nav1 nav{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header .nav1 nav a{
    color: rgb(194, 194, 194);
    padding: 10px 5px;
    width: 170px;
    text-align: center;
    text-decoration: none;
    transition: .3s;
}
header .nav1 nav a:hover{
    background-color: rgb(0, 116, 170);
    color: white;
    border-radius: 20px;
}
header .nav1 i{
    color: white;
    font-size: 25px;
    display: none;
}

/* SEGUNDA BARRA DE NAVEGACION */
header .nav2{
    width: 40%;
    display: flex;
    justify-content: end;
}
header .nav2 div .fondo{
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    width: 120px; 
    margin-right: 10px;
    text-decoration: none;
    background-color: rgb(66, 66, 66);
}
header .nav2 div .fondo:hover{
    box-shadow: 0 0 15px rgb(0, 116, 170);
}
header .nav2 div .fondo2{
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    width: 120px; 
    text-decoration: none;
    background-color: rgb(0, 116, 170);
}
header .nav2 div .fondo2:hover{
    box-shadow: 0 0 15px rgb(180, 180, 180);
    
}
/* FIN DE LA SEGUNDA BARRA DE NAVEGACION */

/* RESPONSIVE DEL HEADER */
@media(max-width: 1150px){
    header .nav1{
        width: 55%;
    }
    header .nav1 .logo{
        margin-left: 50px;
    }
}
@media(max-width: 950px){
    header .nav1{
        width: 50%;
    }
    header .nav1 i{
        display: block;
        margin-left: 0;
    }  
    header .nav1 nav{
        position: fixed;
        display: inline-block;       
        line-height: 35px;
        width: 100%;
        height: 50vh;
        top: 70px;
        margin-left: -100%;
        background-color: #23252b;
        transition: all .2s;
    }
    header .nav1 nav a{
        display:block;
        margin: 0 auto;
    }
    header .nav1 nav.mobile-menu{
        margin-left: 0;
        transition: all .5s;
    }
    header .nav2{
        width: 48%;
    }
}

@media(max-width: 450px){
    header .nav1 .logo{
        margin-left: 20px;
    }
    header .nav1 i{
        display: flex;
    }
    header .nav1 .logo{
        margin-left: 0;
        margin-right: 0;
    }
    header .nav2{
        width: 50%;
    }
    header .nav2 div .fondo{
        padding: 5px 13px;
        margin-right: 2px;
    }
    header .nav2 div .fondo2{
        padding: 5px 13px;
    }
}
/* FIN DEL RESPONSIVE HEADER */

/* SLIDER INDEX.HTML*/
#container-slider
{
    position: relative;
    display: block;
    width: 100%;
}
#slider {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    min-height: 500px;
}
#slider li {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    height: 100%;
    display: block;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    z-index: -1;
    opacity: 0;
}
#container-slider .arrowPrev, #container-slider .arrowNext{
    font-size: 30pt;
    color: rgba(204, 204, 204, 0.65);
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50px;
    z-index: 2; 
}
#container-slider .arrowNext {
    left: initial;
    right: 50px !important;
}

#container-slider a i:hover {
	color: rgba(2, 134, 196, 0.836);
}
.content_slider{
    padding: 15px 30px;
    color: #FFF;
    width: 100%;
    height: 100%;
}
.content_slider div{
    text-align: center;
}
.content_slider h2{
    /* font-family: 'arial'; */
    font-size: 30pt;
    letter-spacing: 1px;
    text-transform: uppercase;
	margin: auto;
    margin-bottom: 20px;
}
.content_slider p {
    font-size: 15pt;
    font-family: 'arial';
    color: #FFF;
    margin-bottom: 40px;
}
#slider li .content_slider{
    background: rgba(0, 0, 0, 0.50);
    padding: 10px 125px;
}
.content_slider{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnSlider{
    color: #FFF;
    font-size: 15pt;
    font-family: 'arial';
    letter-spacing: 1px;
    padding: 10px 50px;
    border: 1px solid #CCC;
    background: rgba(13, 13, 13, 0.55);
    border-radius: 31px;
    text-decoration: none;
    transition: .5s all;
}
.btnSlider:hover{
    background: rgba(0, 116, 170, 0.788);
    border: 1px solid rgba(0, 116, 170, 0.788);
}
.btnSlider:active {
	background: rgba(0, 116, 170, 0.938);
}

.listslider {
    position: absolute;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 50%;
    bottom: 5%;
    list-style: none;
    z-index: 1112;
    transform: translateX(-50%);
}
.listslider li {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    cursor: pointer;
    margin: 0 5px;
}
.listslider li a {
    background: #CCC;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: block;
}
.item-select-slid {
    background: #FFF  !important;
}

@media screen and (max-width: 460px){
	.content_slider h2 {
	    font-size: 15pt !important;
	}
	.content_slider p {
	    font-size: 12pt !important;
	}
	#container-slider .arrowPrev, #container-slider .arrowNext{
		font-size: 20pt;
	}
	#container-slider .arrowPrev{
		left: 15px;
	}
	#container-slider .arrowNext{
		right: 15px !important;
	}
	#slider{
		height: 400px;
		min-height: 400px;
	}
	#slider li .content_slider{
		padding: 10px 35px;
	}
	.btnSlider{
		padding: 10px 30px;
    	font-size: 10pt;
	}

}
/* FIN SLIDER */

/* TARJETAS INDEX.HTML */
main h2{
	color: #fff;
	font-size: 2em;
	margin: 3% 0 1% 10% ;
}


.contenedor-peli{
	height: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.peli-tarjeta{
	width: 20%;
	height: 35%;
	padding: 1em;
	margin: 2em;
	color: #fff;
	/* background-color: indigo; */
	background-color: #00000060;
	border-radius: 0.6em;
	box-shadow: 0 0 0.2em black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: 1s ease all;
}

.peli-tarjeta:hover{
	scale: 1.1;
	box-shadow: 0 0 0.6em black;
}

.peli-tarjeta img{
	width: 100%;
	border-radius: 0.6em;
	box-shadow: 0 0 0.3em 0.01em black;
}

.peli-tarjeta h3{
	margin: 0.4em 0 0.2em 0;
	text-shadow: 0 0 1em black;
}

.peli-tarjeta p{
	margin: 0 0 0.2em 0;
	text-shadow: 0 0 1em black;
}

/* ---- ----- ----- Media Queries tarjetas index.html ----- ----- ----- */
@media screen and (max-width: 425px) {

	main h2{
		text-align: center;
		margin-left: 0%;
	}

	.peli-tarjeta{
		width: 45%;
		margin: 0.5em;
	}

	.peli-tarjeta .btn-detalles {
		padding: 0.4em 0.6em !important;
	}
}

/* ---- ----- ----- Estilos para página detalles.html ---- ----- ----- */

.peli-detalles {
	font-size: 1em;
	height: 100vh;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/detalles/imgFondo.jpg);
	background-position: center center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
}

.peli-detalles .contenedor {
	width: 50%;
	height: 50%;
	margin-left: 6%;
}

.peli-poster{
	width: 40%; 
	height: 50%;
	border-radius: 0.6em;
	box-shadow: 0 0 0.6em 0.01em black;
}

.peli-detalles .titulo {
	font-weight: 600;
	font-size: 2.5em;
	margin: 0.2em 0 0.2em 0;
	text-shadow: 0 0 1em black;
}

.peli-detalles .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	margin-bottom: 1.2em;
	text-align: justify;
	text-shadow: 0 0 1em black;
}

.btn-detalles {
	background: rgba(0,0,0, 0.5);
	border: none;
	border-radius: 0.32em;
	padding: 0.93em 1.87em;
	color: #fff;
	cursor: pointer;
	transition: .3s ease all;
	font-size: 1.12em;
	text-decoration: none;
}

.btn-detalles:hover {
	background: rgba(0, 116, 170, 0.788);
}

.btn-detalles:active {
	background: rgba(0, 116, 170, 0.938);
}

/* ---- ----- ----- Media Queries para página detalles.html ----- ----- ----- */
@media screen and (max-width: 425px) {

	.peli-detalles {
		font-size: 0.7em;
		align-items: center;
	}

	.peli-detalles .contenedor {
		width: 90%;
		margin-left: 0;
        text-align: center;
	}

	.peli-poster{
		width: 100%; 
	}

}


/* ESTILOS CONTACTO.HTML */
.contenedor-contacto{
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFF;
}

.contenedor-contacto h2{
    text-align: center;
    margin: 0.5em 0;
    font-size: 3em;
}

.contenedor-contacto form fieldset{
    border: none;
}

.contenedor-contacto form{
    padding: 2em;
    border-radius: 1em;
    background-color: #272b36b2;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
}

.contenedor-contacto form input{
    width: 100%;
    border: 0.2em solid cornflowerblue;
    border-radius: 0.8em;
    padding: 2em;
    margin: 1em 0;
    caret-color: auto;
    transition: 0.5s all ease;
}

.contenedor-contacto form input:focus-visible{
    box-shadow: 0 0 1em cornflowerblue;
    outline: 0px;
}

.contenedor-contacto form textarea{
    width: 100%;
    border: 0.2em solid cornflowerblue;
    border-radius: 0.8em;
    padding: 2em;
    margin: 1em 0;
    caret-color: auto;
    outline: 0px;
    transition: 0.5s all ease;
}

.contenedor-contacto form textarea:focus-visible{
    box-shadow: 0 0 1em cornflowerblue;
    outline: 0px;
}

.contenedor-contacto form input[type=submit]{
    background-color: cornflowerblue;
    border: none;
    padding: 1em 5em;
}

/* ---- ----- ----- Media Queries contacto.html ----- ----- ----- */
@media screen and (max-width: 425px) {
    .contenedor-contacto form{
        width: 90%;
    }
    .contenedor-contacto h2{
        margin: 0.3em 0;
        font-size: 2em;
    }
    .contenedor-contacto form input{
        padding: 1em;
    }
    .contenedor-contacto form textarea{
        padding: 1em;
    }
}

/* ESTILOS DEL FOOTER */
.foot{
    width: 100%;
	text-align: center;
	padding: 8px;
	background-color: #000000; 
	color: rgb(235, 232, 229); 
    position: relative;
	bottom: 0;
}

.foot a{
	text-decoration: none;
}
.foot a img{
	border-radius: 0.2em;
	margin: 0 0.2em 0 0.2em;
}
.popup {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover {
	color: #000;
}

.popup h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

.popup form .contenedor-inputs {
	opacity: 0;
}

.popup form .contenedor-inputs input {
	width: 100%;
	margin-bottom: 20px;
	height: 52px;
	font-size: 18px;
	line-height: 52px;
	text-align: center;
	border: 1px solid #BBBBBB;
}

.popup form .btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

.popup form .btn-submit:hover {
	background: rgba(94,125,227, .9);
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {	transform: scale(1); opacity: 1; }
.popup.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}
.btn-abrir-popup:hover {
	background: rgba(94,125,227, .9);
}

/* ------------------------- */
/* POPUP */
/* ------------------------- */

.overlay {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
    z-index: 1;
}

.overlay.active {
	visibility: visible;
}
.izquierdapop {
    float: left;
    height: 190px;
  }